* {
  padding: 0;
  margin: 0;
}

html {
  height: auto;
}

a {
  text-decoration: none;
  color: #bdbdbd;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.377);
}

a:hover {
  color: #ffffff;
}

body {
  min-width: 600px;
  background-color: rgb(77, 70, 70);
}

#chobu_main_header {
  height: 104px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgba(179, 168, 168, 0.281);
}

#chobu_main_header .content {
  width: 940px;
  height: 104px;
  margin: 0px auto;
}

#chobu_main_header .logo {
  float: left;
  width: 150px;
  height: 44px;
  padding-top: 35px;
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
  font-weight: bold;
  color: #333131;
  text-shadow: 1px 1px 1px rgba(153, 153, 153, 0.342);
}

#chobu_main_header nav .navi_item {
  float: left;
  padding-top: 45px;
  padding-right: 9px;
  padding-left: 9px;
}

.main_content_container {
  width: 940px;
  margin: auto;
  padding-top: 50px;
  text-shadow: 1px 1px 1px #333131;
}

.subtitle,
#home_page_msg {
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  color: rgb(36, 33, 33);
  /* padding-left: 20px;  */
}

#home_page_msg {
  padding-left: 50px;
}

.indented {
  text-indent: 50px;
}

.playlist_day_navi {
  display: inline-block;
  margin-left: 50px;
}

.playlist_day_navi .navi_item {
  padding-left: 16px;
  padding-right: 16px;
}
